{% extends './base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
    
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row flex-lg-nowrap">
  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <div class="row">
                <div class="col-12 col-sm-auto mb-3">
                  <div class="mx-auto" style="width: 140px;">
                    <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                      <img src="{{ user.profile_pic.url }}"
                  alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                  style="width: 150px; z-index: 1">
                    </div>
                    <div class="mt-2">
                      {{ form.profile_pic }}
                  </div>
                  </div>
                  
                </div>
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{ user.nickname }}</h4>
                    <form method="post" enctype="multipart/form-data" autocomplete="off">
                      {% csrf_token %}
                  </form>
                  </div>
                </div>
              </div>
              <ul class="nav nav-tabs">
                <li class="nav-item"><a href="" class="active nav-link">Settings</a></li>
              </ul>
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                  <form class="form" method="post" enctype="multipart/form-data" autocomplete="off">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                            <label>닉네임</label>
                            {{ form.nickname|add_class:"form-control"|attr:"placeholder:닉네임"|add_error_class:"error" }}
                            {% for error in form.nickname.errors %}
                              <div>{{ error }}</div>
                            {% endfor %}
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col mb-3">
                            <div class="form-group">
                              <label>Intro</label>
                              {{ form.intro|add_class:"form-control"|attr:"placeholder:자기 소개를 해주세요" }}
                              {% for error in form.intro.errors %}
                                <div>{{ error }}</div>
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col d-flex justify-content-end">
                        <a class="btn btn-primary" type="submit" href="{% url 'profile' user.id %}">취소</a>
                        <button class="btn btn-primary" type="submit">변경하기</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
{% endblock content %}